<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer html</title>
</head>
<style>
    h2,p{
        background-color: blue;

    }

</style>
<body>
    <h1>Esto es html</h1>
    <h2>Hola soy {{name}}</h2>
    <p>Esto es un parrafo</p>

    <p>{{fruits}}</p>

    <button>Presiona</button>

    <a href="https://keepcoding.io/">ir a keepcoding</a>

</body>
</html>